.bg-primary {
    background-color: #193271!important;
}
.btn-primary {
    color: #fff;
    background-color: #193271;
    border-color: #007bff;
}
.btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}
